#{extends 'main.html' /}
#{set title:'｜Top' /}

<h1>質問詳細選択</h1>
<div class="alert alert-success text-center">${location.name}</div>
<a href="@{selected_location()}?id_of_Location=${location.id}"><button type="button" class="btn btn-primary">&lt; 質問選択に戻る</button></a>
<div class="alert alert-success text-center">${qitem_root?.question}／${qData.getQuestionItem().question}</div>

<div class='panel panel-info'>
    <div class='panel-heading'>質問を記録しました</div>
    <div class='panel-body'>特筆する事項がございましたら、コメントも登録してください。</div>
</div>

<form action="@{add_comment()}" method="POST"> <!-- コメント登録のメゾットを呼び出す-->
    <input type="hidden" name="id_of_QuestionData" value="${qData.id}" />　<!-- 学生番号を送る。(非表示) -->

      <div class="form-group">
      <input class="form-control" id="guide" type="text" name="guide" value="${qData.guide}" placeholder="ガイドブック" />
      <br>
      <input class="form-control" id="time" type="text" name="time" value="${qData.time}" placeholder="対応時間" />
      <br>
      <input class="form-control" id="comment" type="text" name="comment" value="${qData.comment}" placeholder="コメント（オプション）" />
     </div>

    <button type="submit" class="btn btn-primary">登録</button>　<!--フォームに入力されたコメントを登録する。-->
</form>
<hr/>
<form action="@{cancel_add_question_data()}" method="POST"> <!-- コメントキャンセルのcgiを呼び込む -->
    <input type="hidden" name="id_of_QuestionData" value="${qData.id}" /> <!-- 学生番号を送る(非表示)-->
    <button type="submit" class="btn btn-danger">登録キャンセル</button>　<!-- 直前に登録された質問dataを削除する。 -->
