#{extends 'main.html' /} <!-- main.htmlを継承しているから、cssを反映させなくとも良い -->
#{set title:'｜Top' /}

<h1>質問選択</h1>
<a href="@{index()}"><button type="button" class="btn btn-primary">&lt; ロケーション選択に戻る</button></a>
<div class="alert alert-success text-center">${location.name}</div>

<div class="alert alert-success text-center">${qitem_root.question}</div> <!-- 新規追加　-->

#{if id_of_QuestionData != null}　<!-- 質問データが存在すれば -->
<div class='panel panel-info'>
    <div class='panel-heading'>コメントも記録しました</div>
    <div class='panel-body'>
        <form action="@{comment_editor()}" method="POST"> <!-- "CGIプログラムのURI"を呼ぶ。-->
            <input type="hidden" name="id_of_QuestionData" value="${id_of_QuestionData}" /> <!--質問データを送る。-->
            <button type="submit" class="btn btn-danger">コメントを修正する</button>　<!-- フォームの内容(訂正内容)を送る -->。
        </form>
    </div>
</div>

#{/if}　
%{ int i=0; }%
#{list items:qitem_list, as:'qitem'}
	${i%3 == 0 ? "<div class='row'>".raw() : ''}　<!-- 3つで改行 -->
	<div class="col-lg-4">
		<div class="bs-component">

			#{if qitem.hasChild()}　//子を持っていれば　<!-- 質問選択(大項目)の画面 -->
				<a href="@{selected_root_question()}?id_of_Location=${location.id}&id_of_QuestionItem=${qitem.id}">　<!-- 親項目を選ぶ -->
					<div class="alert alert-info text-center">${qitem.question}</div>　
				</a>
			#{/if}

			#{else}　/<!-- //質問詳細選択の画面。-->
				<div class="alert alert-info text-center">${qitem.question}
					<form action="@{add_question_data()}" method="POST">　<!-- 質問追加メゾットを呼び出す「ウィンドウの操作」etc....-->
						<input type="hidden" name="fQuestionData.id_of_Location" value="${location.id}" />　<!--場所を送る -->
						<input type="hidden" name="fQuestionData.id_of_QuestionItem" value="${qitem.id}" />　<!-- 質問項目を送る -->
						<input type="hidden" name="id_of_RootQuestionItem" value="${qitem.id}" />　<!-- 親項目を送る -->
						<button type="submit" class="btn btn-primary">登録</button>　<!-- ボタンを押したら場所、質問項目、親項目を送る。-->
					</form>
				</div>
			#{/else}
		</div>
	</div>
	${i%3 == 2 || qitem_list.size() -1 == i ? "</div>".raw() : ''}　<!-- 余りが2」または「(アイテムサイズ)-1がiと等しいとき？？」 -->
	%{ i++; }%
#{/list}


<h2>最近の質問</h2>

<table class="table table-striped table-hover" id="question_data_table">
    <thead>
        <tr>
            <th>No</th>
            <th>時刻</th>
            <th>質問</th>
            <th>質問詳細</th>
            <th>コメント</th>
            <th>対応時間</th>
	    </tr>
    </thead>
    <tbody>
        #{list items:qData_list, as:'qData'}
        <tr>
            <td>${qData.id}</td>　<!-- 学生番号 -->
            <td>${qData.timestamp.format("yyyy/MM/dd HH:mm")}</td>　<!-- 生年月日 -->
            <td>${qData.getQuestionItem().getParent()?.question}</td>　<!-- 親項目 -->
            <td>${qData.getQuestionItem().question}</td>　<!-- 質問項目 -->
            <td>${qData.comment}</td>　<!-- コメント -->
            <td>${qData.time}</td>　<!-- 対応時間-->
        </tr>
        #{/list}
    </tbody>
</table>

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/jqc-1.12.4/dt-1.10.15/datatables.min.css"/> <!-- ここをいじれば -->UI設計は変えられる？？
<script type="text/javascript" src="https://cdn.datatables.net/v/bs/jqc-1.12.4/dt-1.10.15/datatables.min.js"></script>

<script>
    jQuery(function($){
    $("#question_data_table").DataTable({
    "order": [[ 1, "desc" ]]
    });
    });
</script>
